<div class="user-card-container">
  <img src="<%= user.photo %>" height="100" alt="<%= user.name + 'photo' %>" />
  <div class="username-and-posts">
    <h2><%= user.name %></h2>
    <h5>Number of posts: <%= user.post_counter %></h5>
  </div>
</div>